[Desktop Entry]
Type=Application
Name=Noiz2sa
Comment=An Abstract Shooter by Kenta Cho
Icon=noiz2sa
Exec=run-noiz2sa.sh
Terminal=false
Categories=Game;ArcadeGame;
